//----------------------------------------
// SAMPLE     : OPAL::ICON( "SAMPLE" );
// sample.ico : Ç†ÇÁÇ©Ç∂ÇﬂçÏê¨ÇµÇƒÇ®Ç≠
//----------------------------------------
SAMPLE ICON DISCARDABLE "sample.ico"
